azure-oms.properties
*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/
kafka_certs
*/binaries/*
#logs
web.log
service.log
mqtt_certs/
classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/
*/build
testapps/*/build

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

**/node_modules
*.sum
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
